body{
    background-image: linear-gradient(to right, #011B7C, #191450);
}
.container-fluid{
    /* width: 90% !important; */
    /* margin: 0 auto !important; */
    margin-left: 0 !important;
}
.navbar-nav{
    padding-left: 490px !important;
}
.navbar-brand{
    padding-left: 300px !important;
}
.nav-link{
    font-weight:bolder;
    font-size: large;
}

@media only screen and (max-width: 720px) {
    .navbar-nav{
        padding-left: 20px !important;
        text-align: center !important;
    }
    .navbar-brand{
        padding-left: 30px !important;
    }
}