body{
    background-image: linear-gradient(to right, #011B7C, #191450);
}
.container-fluid{
    /* width: 90% !important; */
    /* margin: 0 auto !important; */
    margin-left: 0 !important;
}
.navbar-nav{
    padding-left: 480px !important;
}
.navbar-brand{
    padding-left: 250px !important;
}
.nav-link{
    font-weight:bolder;
    font-size: large;
}

.list-group{
    width: 16.5rem;
}


.card .list-group a{
    font-size: larger;
    font-weight: bolder;
    padding: 10px 0px;
    text-align: center;
    margin: 10px;
    border: 1px solid gray;
    color: #011B7C;
}
.card-heading{
    color: #021B7B;
    text-align: left;
    margin: 0 10px;
}

.card .list-group a:hover{
    background-image: linear-gradient(to right, #011B7C, #191450 );
    color: white;
}







@media only screen and (max-width: 720px) {
    .navbar-nav{
        padding-left: 20px !important;
        text-align: center !important;
    }
    .navbar-brand{
        padding-left: 30px !important;
    }
    .header-img{
        width: 300px;
    }
}